name: ci
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  helm:
    name: Push to the Repository
    runs-on: ubuntu-latest
    steps:
      - name: Get current time
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%H-%M-%S')"

      - name: Clone
        uses: actions/checkout@v2

      - name: Push
        shell: bash
        env:
          HELM_REPO_ACCESS_TOKEN: ${{ secrets.CF_API_KEY }}
          HELM_REPO_AUTH_HEADER: Authorization
          HELM_REPO_NAME: cm://h.cfcr.io/findhotel/lab/
          #HELM_REPO_PLUGIN_NAME: https://github.com/chartmuseum/helm-push.git
          # Since Helm version v3.7.0 there is a bug related to helm push
          # https://github.com/chartmuseum/helm-push/issues/109
          # As an alternative, there is this PR https://github.com/chartmuseum/helm-push/pull/110
          HELM_REPO_PLUGIN_NAME: https://github.com/emanuelflp/helm-push.git
          TIME: "${{steps.date.outputs.date}}"
        run: |
          helm version --short -c
          helm plugin install $HELM_REPO_PLUGIN_NAME
          helm repo add remote $HELM_REPO_NAME
          helm dependency build src/prune/charts/kube-review-prune || helm dependency update charts/kube-review-prune || echo "dependencies cannot be updated"
          PACKAGE="$(helm package src/prune/charts/kube-review-prune --version 0.0.1-$TIME --destination /tmp | cut -d " " -f 8)"
          helm legacy-push $PACKAGE remote

  build:
    name: Building Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v2

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            findhotelamsterdam/kube-review:${{ github.sha }}
            findhotelamsterdam/kube-review:${{ steps.extract_branch.outputs.branch }}
          build-args: |
            DEFAULT_HELM_REPO_URL=cm://h.cfcr.io/findhotel/lab/
